.container__profile {
  padding: 32px 32px 40px;
  @apply box-border w-full;
}

.container__profile .container__profile--content {
  font-size: 14px;
  @apply relative m-auto p-0;
}

.container__profile .container__profile--content .constrained-content-alt {
  @apply relative m-auto max-w-[878px] overflow-auto py-8;
}

.container__profile
  .container__profile--content
  .constrained-content-alt
  .group {
  @apply relative;
}

.container__profile
  .container__profile--content
  .constrained-content-alt
  .secondary {
  @apply float-left w-[22.72727%];
}

.container__profile
  .container__profile--content
  .constrained-content-alt
  .main {
  @apply float-right w-[74.54545%];
}

.constrained-content-alt .group .group__user-header {
  min-height: 40px;
  margin: 0 0 30px;
  position: relative;
}

.constrained-content-alt
  .group
  .group__user-header
  .group__user-header-container {
  margin-left: 12px;
}

.constrained-content-alt
  .group
  .group__user-header
  .group__user-header-container
  h1 {
  padding: 0;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
}

.constrained-content-alt
  .group
  .group__user-header
  .group__user-header-container
  img.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.constrained-content-alt
  .group
  .group__user-header
  .group__user-header-container
  .sep {
  margin: 0 10px;
  color: #dbdbde;
  font-weight: normal;
  text-shadow: none;
}

.constrained-content-alt
  .group
  .group__user-header
  .group__user-header-container
  h2 {
  display: inline-block;
  color: #6e6d7a;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  margin: 0;
}

@media (min-width: 768px) {
  .constrained-content-alt .group .group__user-header {
    padding-left: 60px;
  }

  .constrained-content-alt
    .group
    .group__user-header
    .group__user-header-container
    h1 {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
  }

  .constrained-content-alt
    .group
    .group__user-header
    .group__user-header-container
    img.photo {
    width: 48px;
    height: 48px;
  }

  .constrained-content-alt
    .group
    .group__user-header
    .group__user-header-container
    h2 {
    line-height: 1.3;
  }
}

@media only screen and (max-width: 959px) {
  .container__profile
    .container__profile--content
    .constrained-content-alt
    .secondary {
    width: auto;
    float: none;
  }

  .container__profile
    .container__profile--content
    .constrained-content-alt
    .main {
    width: auto;
    float: none;
  }
}
