.container-fluid {
  @apply px-5 md:px-8;
}

.container-contents {
  flex: 1 0 auto;
  @apply mt-14 md:mt-0;
}

.container-contents--subnav {
  @apply relative px-5 pt-4;
}

.subnav {
  @apply flex flex-row items-center justify-between;
}

.subnav .subnav--views {
  @apply mr-10;
}

.subnav .subnav--categories {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  @apply relative text-center text-sm font-normal;
}

.subnav .subnav--categories::-webkit-scrollbar {
    @apply hidden;
}

.subnav .subnav--categories:not(.allow-overflow) {
  @apply overflow-x-auto overflow-y-hidden;
}

.subnav .subnav--categories .btn-categories-group {
  padding: 0 4px;
  @apply whitespace-nowrap scroll-smooth;
}

.subnav .subnav--categories .btn-categories-group .btn-category {
  @apply inline-block;
}

.subnav .subnav--categories .btn-categories-group .btn-category a {
  text-decoration: none;
  @apply inline-block px-3 pt-[10px] pb-2 text-brand-300;
}

.subnav .subnav--categories .btn-categories-group .btn-category.active > a {
  background: rgba(13, 12, 34, 0.05);
  @apply rounded-lg font-medium;
}

.subnav .subnav--categories .btn-categories-group .btn-category.active a,
.subnav .subnav--categories .btn-categories-group .btn-category a:hover {
  @apply text-brand-900 transition-colors;
}

.subnav .subnav--categories .btn-categories-group .btn-category a:after {
  content: attr(title);
  @apply invisible block h-0 overflow-hidden font-medium;
}

.subnav .subnav--filters {
  @apply flex items-center justify-end flex-auto;
}

.container-contents--list {
  @apply box-border w-full px-8 pt-8 pb-10;
}

.container-contents--list.flushed {
  @apply px-0;
}

.main-list {
  font-size: 14px;
  @apply relative m-auto p-0;
}

.main-list .main-list--full {
  @apply float-none w-auto max-w-none;
}

.posts-card-list {
  grid-gap: 36px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  list-style: none;
  @apply grid;
}

.posts-card-item .image-container {
  padding-top: 75%;
  @apply relative mb-4 w-full overflow-hidden rounded-lg bg-gray-200;
}

.posts-card-item .my-info {
  @apply mb-2 flex items-center text-sm text-brand-500 lg:text-base;
}

.posts-card-item .title {
  @apply flex-1 text-ellipsis text-base font-bold	 lg:text-lg;
}

.posts-card-item .action {
  @apply ml-1 flex flex-none gap-3;
}

@media screen and (min-width: 959px) {
  .container-contents--subnav {
    @apply pt-8;
  }
}

@media only screen and (max-width: 959px) {
    .subnav {
        @apply flex-wrap;
    }

    .subnav .subnav--views {
        -ms-flex-order: 1;
        order: 1;
        margin-right: 15px;
    }

    .subnav .subnav--categories {
        -ms-flex-order: 3;
        order: 3;
        width: calc(100% + 30px);
        margin: 15px -15px 0;
        padding: 15px 0 0;
        border-top: 1px solid #f3f3f4;
    }

    .subnav .subnav--categories .btn-categories-group .btn-category a {
      font-size: 16px;
    }

    .subnav .subnav--filters {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-order: 2;
        order: 2;
    }

    .container-contents--list {
        padding: 16px;
    }
}

@media screen and (min-width: 1300px) {
  .subnav .subnav--views {
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
  }
}

@media (min-width: 1200px) {
  .container-fluid {
    @apply px-[72px];
  }
}

@media (min-width: 368px) {
  .subnav .subnav--filters {
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
  }
}
