/* Basic editor styles */
.ProseMirror {
  @apply my-4 min-h-[500px] outline-none;
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

/* Placeholder (at the top) */
.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror ul[data-type="taskList"] {
  list-style: none;
}
.ProseMirror ul,
.ProseMirror ol {
  padding: 0 1rem;
}
.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}
.ProseMirror code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}
.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.ProseMirror img {
  max-width: 100%;
  height: auto;
}
.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}
.ProseMirror hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}

.editor__toolbar {
  flex: 0 0 auto;
  @apply flex flex-wrap items-center p-1;
}

.editor__toolbar .btn-menu {
  @apply mr-1 h-7 w-7 cursor-pointer rounded-[0.4rem] border-none bg-transparent p-1 text-brand-800;
}

.editor__toolbar .btn-menu.is-active {
  @apply bg-brand-800 text-white;
}

.editor__toolbar .btn-menu svg {
  @apply h-full w-full fill-current;
}

.editor__toolbar .divider {
  @apply ml-2 mr-3 h-5 w-[1px] bg-gray-200;
}

.editor__toolbar .with-popover {
  @apply z-[100];
}

.editor__popover-content {
  @apply w-[245px] rounded-md border border-solid border-brand-900 bg-white pt-6;
}

.editor__popover-content[data-state="open"][data-side="top"] {
  animation-name: slideDownAndFade;
}

.editor__popover-content[data-state="open"][data-side="right"] {
  animation-name: slideLeftAndFade;
}

.editor__popover-content[data-state="open"][data-side="bottom"] {
  animation-name: slideUpAndFade;
}

.editor__popover-content[data-state="open"][data-side="left"] {
  animation-name: slideRightAndFade;
}

.editor__popover-arrow {
  @apply fill-current;
}

.editor__popover-close {
  @apply absolute top-[5px] right-[5px] inline-flex h-7 w-7 cursor-pointer items-center justify-center rounded-full border-none bg-transparent;
}

.editor__popover-close:hover {
  @apply bg-brand-100;
}

.editor__popover-content .upload__container {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  @apply w-full rounded-lg border shadow-lg;
}

.editor-header [data-radix-popper-content-wrapper] {
  @apply !z-[300];
}