.border-border {
  --tw-border-opacity: 1;
  border-color: #dddddd;
  border-color: rgba(221, 221, 221, var(--tw-border-opacity));
}

.text-default {
  --tw-text-opacity: 1;
  color: #12124b;
  color: rgba(18, 18, 75, var(--tw-text-opacity));
}

.py-4\.5 {
  padding-bottom: 1.125rem;
  padding-top: 1.125rem;
}

.bg-ultralight {
  --tw-bg-opacity: 1;
  background-color: #f8f7f6;
  background-color: rgba(248, 247, 246, var(--tw-bg-opacity));
}

.border-grayDefault {
  --tw-border-opacity: 1;
  border-color: #f3f3f3;
  border-color: rgba(243, 243, 243, var(--tw-border-opacity));
}

.section-x-inset-xl {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.section-x-inset-2xl {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.max-w-screen-sm {
  max-width: 640px;
}

.max-w-lg {
  max-width: 32rem;
}

.markdown-body {
  background-color: var(--color-canvas-default);
  color: var(--color-fg-default);
}

.markdown-body {
  word-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Noto Sans, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.5;
}

@media (min-width: 1024px) {
  .section-x-inset-xl {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .section-x-inset-2xl {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .lg\:hover\:bg-azure3:hover {
    --tw-bg-opacity: 1;
    background-color: #e1ecf2;
    background-color: rgba(225, 236, 242, var(--tw-bg-opacity));
  }

  .lg\:py-18 {
    padding-bottom: 4.5rem;
    padding-top: 4.5rem;
  }
}

@media (min-width: 768px) {
  .section-x-inset-2xl {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
